<!DOCTYPE html>
<html>

<head>
    <title>
        Test 1
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Bienvenue au test 1</h1>

    <form name="year" method="POST" action="/users/year">
        <div class="form-group">
            <label for="year">Entrez votre année de naissance<span class="text-danger" >*</span></label>
            <input type="number" class="form-control" name="year" id="year" placeholder="Enter un nombre à quatre chiffres">
            <%if (error) { %>
                <small class="form-text text-danger"><%= error %></small>
                <% } %>
        </div>
        <button type="submit" class="btn btn-primary">save</button>
    </form>


</body>

</html>