<!DOCTYPE html>
<html>

<head>
    <title>
        Test 1
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <h1>Resultat du test 1</h1>
    <p>Votre age en
        <%= nextYear %> sera :
            <%= ageNextYear %> ans </p>

    <p><a href="/" class="btn btn-primary" role="button">Retour</a></p>

</body>

</html>